/history
/auto-save-list/
/undo-tree/
/.dap-breakpoints
/.mc-lists.el
/anaconda-mode/
/bookmarks
/eshell/
/recentf
/snippets/
/transient/
/abbrev_defs
/custom.el
/init-local.el
flycheck_*
/.lsp-session-v1
/projects
/.cask/
/company-statistics-cache.el
/eln-cache/
/session.*
/url/
/tramp
*.elc
*.kbx
*.gpg
*.*~
elpa/archives
/image-dired/
/.cache/
*.signed
/quelpa/
*.el#
