.DS_Store
tramp
auto-save-list/
\#*
persistence/
tramp
*~
eshell/
packages/yasnippet/
var/
recentf
lisp/init-local.el
elpa/
*.desktop
.achievements
el-get
.#*
.smex-items
*.elc
url/
request/curl-cookie-jar
edu/
vimish-fold/
emacs-for-python/
.python-environments/
jordon/
ac-comphist.dat
*.pyc
*flycheck*
/smex-items
/bookmarks
/ido.last
/.mc-lists.el
/custom.el
.yas-compiled-snippets.el
jabber-history
jabber-avatar-cache
jabber-global-message-log
.edbi-ds-history
sqlplus-session
/.org-id-locations
tmp/*
